
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
 }

 body{
  word-spacing: 3px;
  overflow-x:hidden;

}


/*---------------------------------------------*/
.picContainer{
    position: relative;
    margin-bottom:700px;
}

.picContainer .pic1{
    position: absolute;
    top: 10px;
    right: 50px;
}

.picContainer .pic2{
    position:absolute;
    top: 250px;
    right: 0px;

}

.picContainer .pic3{
    position:absolute;
    top: 350px;
    right: 0px;
}

.picContainer .pic4{
    position:absolute;
    top: 250px;
    right: 350px;
}

/* .ol1
{
  transition: 0.3s;
box-shadow: 0px 14px 20px rgba(0, 70, 119, 0.4);
cursor: pointer;
} */

.ol1
{
  transition: 0.3s;

cursor: pointer;
}


.ol1:hover{
  /* box-shadow: 0px 14px 20px rgba(0, 70, 119, 0.4); */
  /**/
  content: "kfnds";
  /* padding:35px 5px 5px 15px ; */
  padding:15px;
  transition: 0.8s;
  cursor: pointer;
  /* transform: scale(1.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}

@media(max-width:1200px) {
  

  .picContainer{
    position: relative;
    margin-bottom:700px;
}

.picContainer .pic1{
    position: absolute;
    top: 10px;
    right: 50px;
}

.picContainer .pic2{
    position:absolute;
    top: 250px;
    right: -30px;
  
   width:70%;
   height:auto;

}

.picContainer .pic3{
    position:absolute;
    top: 350px;
    right: 0px;
    /* left:10px; */
    width:50%;
    height:auto;
}

.picContainer .pic4{
    position:absolute;
    top: 250px;
    right: 250px;
    width:70%;
    height:auto;
}
}


/*------------------------------------landing page--------------------------------------------- */
.landing-page{

    background-image: url(images/landing-background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0px 70px 0px;

}

.landing-item{
  background-color: #ffffff; 
    /* width: 80%; */
    padding: 20px;
    
    border-radius: 4px;
    text-align: center;
    margin: 15px 0;
    box-shadow: 0 0 12px #F4F4F4;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;

}

.landing-item:hover {
  box-shadow: 0 10px 22px 10px rgba(27, 38, 49, 0.1);
}

/*------------------------------------------------------------*/

/*feature----------------------------------*/
#features {
  background: #fff;
}

#features .icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  text-align: center;
  position: relative;
  z-index: 1;
}

#features .content-left span {
  float: right;
}

#features .content-left .text {
  text-align: right;
}

#features .content-right span {
  float: left;
}

#features .box-item {
  box-shadow: 0 0 12px #F4F4F4;
  padding: 15px;
  line-height: 22px;
  margin-top: 30px;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: all .3s ease-in-out;
  -mox-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  position: relative;
  top: 0;
}

#features .box-item .icon {
  text-align: center;
  margin: 12px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#features .box-item .icon i {
  color: #F63854;
  font-size: 30px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#features .box-item .text h4 {
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#features .box-item .text p {
  font-size: 14px;
  line-height: 26px;
}

#features .box-item:hover {
  box-shadow: 0 10px 22px 10px rgba(27, 38, 49, 0.1);
}

#features .box-item:hover h4 {
  color: #F63854;
}

#features .show-box {
  margin-top: 50px;
}

#features .show-box img {
  width: 100%;
}

/*----------------about--------------------------*/


.about
{
    margin: 120px 0px 150px 0px;
}

.about-image{
    position:relative;
}

.about-image .aimage1{
    position:absolute;
    /* left:50px; */
    right:50px;
    top:100px;

}

.about-image .aimage2{
    position:absolute;
     left:100px; 
    top:200px;
    z-index: -1;
}
/*-------------circle---------------------------*/
.circle {
      
    justify-content: center;
    border-radius: 50%;
border: 60px solid rgb(18, 8, 202);
    width: 540px;
    height: 540px;
    animation: bounce 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  

position: absolute;
z-index: -1;
}
  
  @keyframes bounce {
    from { transform: translate3d(0, 0, 0);     }
    to   { transform: translate3d(0, 50px, 0); }
  }
/*----------------------------------------------*/




/*---------------------- Services Item----------------- */
.services-item {
    /* width: 80%; */
    padding: 20px;
    
    border-radius: 4px;
    text-align: center;
    margin: 15px 0;
    box-shadow: 0 0 12px #F4F4F4;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
  }
  
  .services-item .icon {
    border: 1px solid #f1f1f1;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0 auto;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
  }
  
  .services-item .icon i {
    font-size: 30px;
    color: #F63854;
    line-height: 70px;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
  }
  
  .services-item .services-content h3 {
    margin-top: 10px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  .services-item .services-content h3 a {
    font-size: 16px;
    color: #585b60;
  }
  
  .services-item .services-content h3 a:hover {
    color: #F63854;
  }
  
  .services-item:hover {
    box-shadow: 0 10px 22px 10px rgba(27, 38, 49, 0.1);
  }
  
  .services-item:hover .icon {
    background: #F63854;
  }
  
  .services-item:hover .icon i {
    color: #fff;
  }
  
  .section-padding{
    margin: 250px 0px 200px 0px;
  }


.dots{

    border-bottom: 2px dashed red;
   margin-top: -150px;
    z-index: 2;
    width:55px;
    margin-left:290px
   }

   
/*-----------------------------------------------*/
/*---------process--------------------------------*/
.ptb-120 {
  padding: 120px 0;
}


.process-card {
  position: relative;
  display: block;

  transition: all 0.3s ease;
}

.process-card:hover{
  box-shadow: 0 10px 22px 10px rgba(27, 38, 49, 0.1);
}

.process-card:hover .process-icon {
  background-color: #4f3dff;
  }

 

  .process-num
  {
    color: #2c79ed ;
  }

  .process-card:hover .process-num {
    color: #ffffff;
    
  }


.rounded-custom {
  border-radius: 1rem !important;
}



.process-icon {
  width: 80px;
  height: 80px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
  transition: all 0.3s ease;
  margin: 0 auto 35px;
}


.border {
  border: 1px solid #dee2e6 !important;
}


.dots-line.first {
  position: relative;
  margin-right: -43px;
  margin-left: -43px;
}

.dots-line {
  top: auto;
  right: auto;
  z-index: 2;
  width: 100px;
  height: 1px;
  padding-top: 0;
  -webkit-box-flex: 1;
  flex: 1;
  border-bottom: 2px dashed var(--bs-primary);
}
/*-----------product showcase------------------------*/

.product1{
  position: relative;
  margin-bottom:  550px;
}

@media (max-width:1400px) {
  .product1{
    position: relative;
    margin-bottom:450px;
  }
}

@media (max-width:1100px) {
  .product1{
    position: relative;
    margin-bottom:400px;
  }
}

@media (max-width:700px) {
  .product1{
    position: relative;
    margin-bottom:200px;
  }
}

@media (max-width:400px) {
  .product1{
    position: relative;
    margin-bottom:100px;
  }
  
  .showcase{
    margin-bottom: 500px;
  }
}

/* .product1{
  position: relative;
  margin-bottom:600px;
} */

/* .nimage2{
  position: relative;
  margin-bottom: 100px;
} */

.nimage1{
  position: absolute;
  top: 80px;
  left : 50px;
}



.num1{
  background-size: 100%;
  background-image: linear-gradient(to bottom, #4f3dff, #ffffff);
  font-size: 135px;
  font-weight: 700;
  font-family: fira sans, sans-serif;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  left: 0;
  right: 0;
  z-index: -1;
  line-height: 1;
  opacity: 0.2;
}

/* .product2,.nimage2{
  position: relative;
  margin-bottom: 100px;
}


 .product2 .num2{
  background-size: 100%;
  background-image: linear-gradient(to bottom, #4f3dff, #ffffff);
  font-size: 135px;
  font-weight: 700;
  font-family: fira sans, sans-serif;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  z-index: -1;
  line-height: 1;
  opacity: 0.2;

  position: absolute;
  bottom:750px;
  right : 200px;
} */

/*------------./product showcase---------------------*/

