/*************home area***********/
/* .home{
  margin-bottom: 200px;
}
#home-area {
  background-image: url(images/hero-area.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 650px;
  position: relative;
  overflow: hidden;
  padding: 180px 0 80px;
}

#home-area .contents .head-title {
  color: #222222;
  font-size: 42px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 10px;
}

#home-area .contents .header-button {
  margin-top: 20px;
  color: #222222;
}

#home-area .contents .header-button .btn {
  margin-right: 10px;
}

.sloder-img {
  background: #34363a;
}

.btn {
  font-size: 14px;
  padding: 10px 30px;
  cursor: pointer;
  font-weight: 400;
  color: #fff;
  border-radius: 30px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: inline-block;
}

.btn:focus,
.btn:active {
  box-shadow: none;
  outline: none;
  color: #fff;
}

.btn-common {
  background-color: #F63854;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
}

.btn-common:hover {
  color: #F63854;
  background: transparent;
  border: 1px dotted #F63854;
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}

.btn-border {
  color: #F63854;
  background-color: transparent;
  border: 1px solid #F63854;
  border-radius: 30px;
  text-transform: uppercase;
}

.btn-border:hover {
  color: #fff;
  border-color: #F63854;
  background-color: #F63854;
}

.btn-border:focus {
  color: #fff;
  border-color: #F63854;
  background-color: #F63854;
} */

/*---------------------------------------------*/
.picContainer{
    position: relative;
    margin-bottom:700px;
}

.picContainer .pic1{
    position: absolute;
    top: 10px;
    right: 50px;
}

.picContainer .pic2{
    position:absolute;
    top: 250px;
    right: 0px;

}

.picContainer .pic3{
    position:absolute;
    top: 350px;
    right: 0px;
}

.picContainer .pic4{
    position:absolute;
    top: 250px;
    right: 400px;
}

.ol1
{
  transition: 0.3s;
box-shadow: 0px 14px 20px rgba(0, 70, 119, 0.4);
cursor: pointer;

}
.ol1:hover{
  /* box-shadow: 0px 14px 20px rgba(0, 70, 119, 0.4); */
  /**/
  content: "kfnds";
  /* padding:35px 5px 5px 15px ; */
  padding:15px;
  transition: 0.8s;
  cursor: pointer;
  /* transform: scale(1.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}

@media(max-width:1200px) {
  

  .picContainer{
    position: relative;
    margin-bottom:700px;
}

.picContainer .pic1{
    position: absolute;
    top: 10px;
    right: 50px;
}

.picContainer .pic2{
    position:absolute;
    top: 250px;
    right: -30px;
  
   width:70%;
   height:auto;

}

.picContainer .pic3{
    position:absolute;
    top: 350px;
    right: 0px;
    /* left:10px; */
    width:50%;
    height:auto;
}

.picContainer .pic4{
    position:absolute;
    top: 250px;
    right: 250px;
    width:70%;
    height:auto;
}
}


/*------------------------------------landing page--------------------------------------------- */
.landing-page{

    background-image: url(images/landing_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0px 70px 0px;

}

.landing-item{
  background-color: #ffffff; 
    /* width: 80%; */
    padding: 20px;
    
    border-radius: 4px;
    text-align: center;
    margin: 15px 0;
    box-shadow: 0 0 12px #F4F4F4;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;

}

.landing-item:hover {
  box-shadow: 0 10px 22px 10px rgba(27, 38, 49, 0.1);
}
/* .landing{
    margin-left:-15px;
}
@media(min-width : 800px){
    .landing-page{
        
        padding: 100px 0px 150px 0px;
    }
}

.landing-page .land{
text-align: center;
padding:10px;
height:auto;
width: 100%;
 margin:15px;
background-color: #ffffff; 
    box-shadow: 0px 14px 20px rgba(0, 70, 119, 0.4);
} */
/*------------------------------------------------------------*/

/*feature----------------------------------*/
#features {
  background: #fff;
}

#features .icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  text-align: center;
  position: relative;
  z-index: 1;
}

#features .content-left span {
  float: right;
}

#features .content-left .text {
  text-align: right;
}

#features .content-right span {
  float: left;
}

#features .box-item {
  box-shadow: 0 0 12px #F4F4F4;
  padding: 15px;
  line-height: 22px;
  margin-top: 30px;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: all .3s ease-in-out;
  -mox-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  position: relative;
  top: 0;
}

#features .box-item .icon {
  text-align: center;
  margin: 12px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#features .box-item .icon i {
  color: #F63854;
  font-size: 30px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#features .box-item .text h4 {
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#features .box-item .text p {
  font-size: 14px;
  line-height: 26px;
}

#features .box-item:hover {
  box-shadow: 0 10px 22px 10px rgba(27, 38, 49, 0.1);
}

#features .box-item:hover h4 {
  color: #F63854;
}

#features .show-box {
  margin-top: 50px;
}

#features .show-box img {
  width: 100%;
}

/*----------------about--------------------------*/


.about
{
    margin: 120px 0px 150px 0px;
}

.about-image{
    position:relative;
}

.about-image .aimage1{
    position:absolute;
    /* left:50px; */
    top:150px;

}

.about-image .aimage2{
    position:absolute;
    left:200px;
    top:300px;

}
/*-------------circle---------------------------*/
.circle {
    /* background: lightblue; */    
    justify-content: center;
    border-radius: 50%;
border: 60px solid lightblue;
    width: 540px;
    height: 540px;
    animation: bounce 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    /* margin-left:150px; */

position: absolute;
z-index: -1;
}
  
  @keyframes bounce {
    from { transform: translate3d(0, 0, 0);     }
    to   { transform: translate3d(0, 50px, 0); }
  }
/*----------------------------------------------*/


/* .testimonial .item-icon:hover{
      animation: icon-bounce 800ms ease-out infinite;
      -webkit-animation: icon-bounce 800ms ease-out infinite;
      background-color:green;
} */


/*-----------------------------------------------*/
/* Services Item */
.services-item {
    /* width: 80%; */
    padding: 20px;
    
    border-radius: 4px;
    text-align: center;
    margin: 15px 0;
    box-shadow: 0 0 12px #F4F4F4;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
  }
  
  .services-item .icon {
    border: 1px solid #f1f1f1;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0 auto;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
  }
  
  .services-item .icon i {
    font-size: 30px;
    color: #F63854;
    line-height: 70px;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
  }
  
  .services-item .services-content h3 {
    margin-top: 10px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  .services-item .services-content h3 a {
    font-size: 16px;
    color: #585b60;
  }
  
  .services-item .services-content h3 a:hover {
    color: #F63854;
  }
  
  .services-item:hover {
    box-shadow: 0 10px 22px 10px rgba(27, 38, 49, 0.1);
  }
  
  .services-item:hover .icon {
    background: #F63854;
  }
  
  .services-item:hover .icon i {
    color: #fff;
  }
  
  .section-padding{
    margin: 250px 0px 200px 0px;
  }


.dots{

    border-bottom: 2px dashed red;
   margin-top: -150px;
    z-index: 2;
    width:55px;
    margin-left:290px
   }

   /* .dots-line .first{
       position: relative;
       margin-right : -43px;
       margin-left : -43px;
   }
   .dots-line{
     top:auto;
     right:auto;
     z-index: 2;
     width:100px;
     height:1px;
     padding-top:0;
     -webkit-box-flex: 1;
     flex: 1;
     border-bottom:2px dashed var(--bs-primary);
   } */
/*-----------------------------------------------*/
/*---------process--------------------------------*/
/* .text-center {
  text-align: center !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.text-primary {
  color: var(--bs-primary) !important;
}

.text-center {
  text-align: center !important;
} */



/****process***/
.align-items-center {
  -webkit-box-align: center !important;
  /* -ms-flex-align: center !important; */
  align-items: center !important;
}

.text-primary {
  color: var(--bs-primary) !important;
}

.d-flex {
  display: flex !important;
}
.process-card {
  position: relative;
  display: block;
  /* -webkit-transition: all 0.3s ease; */
  transition: all 0.3s ease;
}
.process-card:hover {
  background: var(--bs-white);
}
.shadow-hover:hover {
  /* -webkit-box-shadow: 0 5px 20px 0 rgba(210, 210, 245, 0.5); */
  box-shadow: 0 5px 20px 0 rgba(210, 210, 245, 0.5);
  z-index: 3;
}

.rounded-custom {
  border-radius: 1rem !important;
}

.text-center {
  text-align: center !important;
}
.border-light {
  border-color: rgba(101, 101, 101, 0.1) !important;
}

.bg-custom-light {
  background-color: rgba(255, 255, 255, 0.1);
}

.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.process-card:hover .process-icon {
  background: var(--bs-primary) !important;
}

.process-icon {
  width: 80px;
  height: 80px;
  /* display: -webkit-box;
  display: -ms-flexbox; */
  display: flex;
  -webkit-box-pack: center;
  /* -ms-flex-pack: center; */
  justify-content: center;
  -webkit-box-align: center;
  /* -ms-flex-align: center; */
  align-items: center;
  text-align: center;
  /* -webkit-transition: all 0.3s ease; */
  transition: all 0.3s ease;
  margin: 0 auto 35px;
}

.border {
  border: 1px solid #dee2e6 !important;
}

.dots-line.first {
  position: relative;
  margin-right: -43px;
  margin-left: -43px;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.dots-line {
  /* position: relative; */
  top: auto;
  right: auto;
  z-index: 2;
  width: 100px;
  height: 1px;
  padding-top: 0;
  -webkit-box-flex: 1;
  /* -ms-flex: 1; */
  flex: 1;
  border-bottom: 2px dashed var(--bs-primary);
}

/*-----------product showcase------------------------*/

.product1{
  position: relative;
  margin-bottom:  550px;
}

@media (max-width:1400px) {
  .product1{
    position: relative;
    margin-bottom:450px;
  }
}

@media (max-width:1100px) {
  .product1{
    position: relative;
    margin-bottom:400px;
  }
}

@media (max-width:700px) {
  .product1{
    position: relative;
    margin-bottom:200px;
  }
}

@media (max-width:400px) {
  .product1{
    position: relative;
    margin-bottom:100px;
  }
  
  .showcase{
    margin-bottom: 500px;
  }
}

/* .product1{
  position: relative;
  margin-bottom:600px;
} */

/* .nimage2{
  position: relative;
  margin-bottom: 100px;
} */

.nimage1{
  position: absolute;
  top: 80px;
  left : 50px;
}



.num1{
  background-size: 100%;
  background-image: linear-gradient(to bottom, #4f3dff, #ffffff);
  font-size: 135px;
  font-weight: 700;
  font-family: fira sans, sans-serif;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  left: 0;
  right: 0;
  z-index: -1;
  line-height: 1;
  opacity: 0.2;
}

/* .product2,.nimage2{
  position: relative;
  margin-bottom: 100px;
}


 .product2 .num2{
  background-size: 100%;
  background-image: linear-gradient(to bottom, #4f3dff, #ffffff);
  font-size: 135px;
  font-weight: 700;
  font-family: fira sans, sans-serif;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  z-index: -1;
  line-height: 1;
  opacity: 0.2;

  position: absolute;
  bottom:750px;
  right : 200px;
} */







/*------------./product showcase---------------------*/

